* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#chart {
    padding: 10px;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    border: 1px solid red;
}

.bar {
    margin: 1px;
    padding: 5px;
    background-color: #73ABFE;
    height: 22px;
    border-radius: 5px;
    color: beige;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif; 
}